certifi==2026.2.25
dnspython==2.8.0
joblib==1.5.3
-e git+https://github.com/rnrahate/Network-Security.git@7eef8f546ae3410a0ecd324093581521af40ca85#egg=network_security
numpy==2.2.6
pandas==2.3.3
pymongo==4.16.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytz==2026.1.post1
scikit-learn==1.7.2
scipy==1.15.3
six==1.17.0
threadpoolctl==3.6.0
tzdata==2026.1
